<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>HospitalManagment</display-name>
  <welcome-file-list>
    <welcome-file>book-appointment.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>BookAppointmentServlet</servlet-name>
  	<servlet-class>com.hospitalmanagment.servlet.BookAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BookAppointmentServlet</servlet-name>
  	<url-pattern>/bookAppointmentServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AddDoctorServlet</servlet-name>
  	<servlet-class>com.hospitalmanagment.servlet.AddDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddDoctorServlet</servlet-name>
  	<url-pattern>/addDoctorServlet</url-pattern>
  </servlet-mapping>
</web-app>