<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Picasa</display-name>
	<servlet>
		<servlet-name>downloadImageServlet</servlet-name>
		<servlet-class>com.picasa.servlet.DownloadImageServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>downloadImageServlet</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>galleryServlet</servlet-name>
		<servlet-class>com.picasa.servlet.GalleryServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>galleryServlet</servlet-name>
		<url-pattern>/gallery</url-pattern>
	</servlet-mapping>
</web-app>







